{% comment %}
  Renders the gift card recipient form.

  Accepts:
  - product {product} - Product object

  Usage:
  {% render 'block.product-buy-buttons.gift-form' %}
{% endcomment %}

{% stylesheet %}
	.recipient-form {
	  display: block;
	  position: relative;
	
	  & .field__input {
	    margin-bottom: 1.5em;
	    width: 100%;
	
	    @media only screen and (max-width: 959px) {
	      margin-bottom: 0.6em;
	    }
	
	    &.recipient-form__message {
	      margin-bottom: calc(var(--gutter) / 2);
	      height: 150px;
	    }
	  }
	
	  .recipient-form__checkbox-wrapper {
	    display: flex;
	    align-items: center;
	    margin-bottom: 2em;
	
	    @media only screen and (max-width: 959px) {
	      margin-bottom: 1.5em;
	    }
	  }
	
	  & .recipient-fields {
	    display: none;
	  }
	}
{% endstylesheet %}

{%- liquid
  assign product = section.settings.product | default: product
  assign gift_card_recipient_control_flag = 'properties[__shopify_send_gift_card_to_recipient]'

  capture checkbox_label
    render 'utility.translate', key: 'actions.send_as_gift', fallback: 'I want to send this as a gift'
  endcapture

  capture input_email_id
    render 'utility.id', name: 'properties[Recipient email]'
  endcapture

  capture input_email_label
    render 'utility.translate', key: 'labels.recipient_email', fallback: 'Recipient email'
  endcapture

  capture input_name_id
    render 'utility.id', name: 'properties[Recipient name]'
  endcapture

  capture input_name_label
    render 'utility.translate', key: 'labels.recipient_name_optional', fallback: 'Recipient name (optional)'
  endcapture

  capture input_message_id
    render 'utility.id', name: 'properties[Message]'
  endcapture

  capture input_message_label
    render 'utility.translate', key: 'labels.message_optional', fallback: 'Message (optional)'
  endcapture

  capture input_date_id
    render 'utility.id', name: 'properties[Send on]'
  endcapture

  capture input_date_label
    render 'utility.translate', key: 'labels.recipient_send_on', fallback: 'Send on (optional)'
  endcapture

  assign max_chars_message = 200
  capture fallback_max_chars_message_rendered
    echo max_chars_message
    echo 'characters max'
  endcapture

  assign info_max_characters = 'info.max_characters' | t: max_chars: max_chars_message
  capture max_chars_message_rendered
    render 'utility.translate', t: info_max_characters, fallback: fallback_max_chars_message_rendered
  endcapture
-%}

{%- capture input_email_attributes -%}
  {% if form.errors contains 'email' %}
    aria-invalid="true"
    aria-describedby="RecipientForm-email-error-{{ section.id }}"
  {% endif %}
{%- endcapture -%}

{%- capture input_name_attributes -%}
  {% if form.errors contains 'name' %}
    aria-invalid="true"
    aria-describedby="RecipientForm-name-error-{{ section.id }}"
  {% endif %}
{%- endcapture -%}

{%- capture input_date_attributes -%}
  autocomplete="send_on"
  pattern="\d{4}-\d{2}-\d{2}"
  {% if form.errors contains 'send_on' %}
    aria-invalid="true"
    aria-describedby="RecipientForm-send_on-error-{{ section.id }}"
  {% endif %}
{%- endcapture -%}

{%- capture input_message_attributes -%}
  maxlength="{{ max_chars_message }}"
  aria-label="{{ input_message_label }}"
  {% if form.errors contains 'message' %}
    aria-invalid="true"
    aria-describedby="RecipientForm-message-error-{{ section.id }}"
  {% endif %}
{%- endcapture -%}

<gift-card-recipient-form
  class="recipient-form"
  data-section-id="{{ section.id }}"
  data-product-variant-id="{{ product.selected_or_first_available_variant.id }}"
>
  <div class="recipient-form__checkbox-wrapper">
    {%- render 'element.checkbox',
      classlist: 'recipient-form__checkbox',
      name: gift_card_recipient_control_flag,
      label: checkbox_label
    -%}
  </div>

  <div class="recipient-fields">
    {%- render 'element.input',
      classlist: 'field__input recipient-form__email ',
      id: input_email_id,
      type: 'email',
      placeholder: input_email_label,
      label: input_email_label,
      name: 'properties[Recipient email]',
      value: form.email,
      attributes: input_email_attributes
    -%}

    {%- render 'element.input',
      classlist: 'field__input recipient-form__name ',
      id: input_name_id,
      type: 'text',
      placeholder: input_name_label,
      label: input_name_label,
      name: 'properties[Recipient name]',
      value: form.name,
      attributes: input_name_attributes
    -%}

    {%- render 'element.input',
      multiline: 10,
      id: input_message_id,
      classlist: 'field__input recipient-form__message',
      name: 'properties[Message]',
      placeholder: input_message_label,
      label: input_message_label,
      attributes: input_message_attributes,
      value: form.message
    -%}

    <p class="recipient-form-field-label recipient-form-field-label--space-between">
      {{- max_chars_message_rendered -}}
    </p>

    {%- render 'element.input',
      classlist: 'field__input text-body recipient-form__date ',
      id: input_date_id,
      type: 'date',
      label: input_date_label,
      name: 'properties[Send on]',
      value: form.send_on,
      attributes: input_date_attributes
    -%}
  </div>
  <input
    type="hidden"
    name="{{ gift_card_recipient_control_flag }}"
    value="if_present"
    id="Recipient-Control-{{ section.id }}"
    disabled
  >
</gift-card-recipient-form>

<script type="module">
  import 'block.product-buy-buttons.gift-form'
</script>
