{%- comment -%}
  Renders a section with a background image and text.

  Accepts:
  - subtitle {string} - The subtitle of the section
  - title {string} - The title of the section
  - heading_size {'sm'|'md'|'lg'|'xl'} - The size of the heading
  - heading_position {'left'|'center'|'right'} - The position of the heading
  - text {string} - The text of the section
  - button_label {string} - The label of the button
  - button_link {string} - The link of the button
  - image {image} - The image of the section
  - layout {'left'|'right'} - The layout of the section
  - height {number} - The height of the section in pixels
  - parallax {boolean} - Whether to enable parallax effect
  - parallax_direction {'top'|'left'} - The direction of the parallax effect

  Usage:
  {% render 'section.background-image-text', parallax_direction: 'left' %}
{%- endcomment -%}

{% stylesheet %}
	.background-media-text {
	  position: relative;
	  width: 100%;
	  overflow: hidden;
	  background: color-mix(in srgb, var(--color-secondary) var(--shade-12), var(--color-primary));
	}
	
	.background-media-text__inner {
	  position: absolute;
	  z-index: 2;
	  width: 100%;
	  height: 100%;
	}
	
	.background-media-text__aligner {
	  margin: calc(var(--gutter) * 2);
	}
	
	.background-media-text__text {
	  text-align: left;
	  font-size: 1.1em;
	  background: var(--root-color-secondary);
	  padding: var(--gutter);
	  width: 380px;
	  border-radius: var(--roundness);
	  overflow: hidden;
	
	  html[dir='rtl'] & {
	    text-align: right;
	  }
	
	  @media only screen and (max-width: 768px) {
	    text-align: center;
	  }
	}
	
	.background-media-text__text .btn {
	  margin-top: calc(var(--gutter) / 2);
	}
	
	@media only screen and (min-width: 769px) {
	  .background-media-text--right > div {
	    float: right;
	  }
	}
	
	/*Section height*/
	.background-media-text__container {
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	}
	
	@media only screen and (max-width: 768px) {
	  .background-media-text__container {
	    position: relative;
	    height: 240px;
	  }
	
	  .background-media-text__inner {
	    position: relative;
	    bottom: 0;
	  }
	
	  .background-media-text__aligner {
	    margin: -10px 10px 10px;
	  }
	
	  .background-media-text__text {
	    padding: calc(var(--gutter) * 0.75);
	    width: auto;
	  }
	
	  .background-media-text.loading {
	    &:before,
	    &:after {
	      top: 117px;
	    }
	  }
	}
	
	@media only screen and (min-width: 769px) {
	  .background-media-text--450 {
	    min-height: 450px;
	  }
	
	  .background-media-text--550 {
	    min-height: 550px;
	  }
	
	  .background-media-text--650 {
	    min-height: 650px;
	  }
	
	  .background-media-text--750 {
	    min-height: 750px;
	  }
	
	  .background-media-text__image {
	    height: 100%;
	    object-fit: cover;
	  }
	
	  .background-media-text__image,
	  .background-media-text__image svg {
	    opacity: 0;
	  }
	}
	
	.background-media-text__image {
	  opacity: 0;
	  animation: none;
	  transition: none;
	}
	
	.loaded {
	  & .background-media-text__image,
	  & .background-media-text__image svg {
	    animation: zoom-fade 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
	    transition: none;
	  }
	}
	
	@media only screen and (min-width: 769px) {
	  .loaded .background-media-text__inner .animation-contents {
	    transform: translateY(0);
	    opacity: 1;
	    transition: all 0.8s cubic-bezier(0.26, 0.54, 0.32, 1) 0.5s;
	  }
	}
{% endstylesheet %}

{%- liquid
  assign subtitle = subtitle | default: section.settings.subtitle
  assign title = title | default: section.settings.title
  assign heading_size = heading_size | default: section.settings.heading_size | default: 'md'
  assign heading_position = heading_position | default: section.settings.heading_position | default: 'left'
  assign text = text | default: section.settings.text
  assign button_label = button_label | default: section.settings.button_label
  assign button_link = button_link | default: section.settings.button_link
  assign image = image | default: section.settings.image
  assign layout = layout | default: section.settings.layout | default: 'left'
  assign height = height | default: section.settings.height | default: 550
  assign parallax = parallax | default: section.settings.parallax, allow_false: true | default: true, allow_false: true
  assign parallax_direction = parallax_direction | default: section.settings.parallax_direction | default: 'top'
  assign hydration = hydration | default: 'on:visible'

  assign lazyload_images = true

  if section.index == 1
    assign lazyload_images = false
  endif
-%}

{% capture image_content %}
  {%- if image != blank -%}
    {% assign classes = 'image-fit background-media-text__image background-media-text__image--'
      | append: section.id
    %}
    {% comment %} Full width image so don't need to adjust sizes attribute, fallback is 100vw {% endcomment %}
    {%- render 'element.image', img: image, img_width: 2400, loading: lazyload_images, classes: classes -%}
  {%- else -%}
    {%- render 'element.placeholder', name: 'lifestyle-1' -%}
  {%- endif -%}
{% endcapture %}

<is-land {{ hydration }}>
  <background-image>
    <div
      data-section-type="background-image"
      class="background-media-text background-media-text--{{ section.id }} background-media-text--{{ height }}"
      {% if parallax %}
        data-parallax="true"
      {% endif %}
    >
      <div class="background-media-text__container">
        {%- if parallax -%}
          {% render 'element.image.parallax', slot: image_content, direction: parallax_direction %}
        {%- else -%}
          {{ image_content }}
        {%- endif -%}
      </div>

      {%- if subtitle != blank or title != blank or text != blank -%}
        <div class="background-media-text__inner">
          <div class="background-media-text__aligner background-media-text--{{ layout }}">
            <div data-animate="rise-up">
              <div class="background-media-text__text {% if heading_position %}text-{{ heading_position }}{% endif %}">
                {%- if subtitle != blank -%}
                  <p class="accent-subtitle">{{ subtitle }}</p>
                {%- endif -%}

                {%- if title != blank -%}
                  <p class="heading-{{ heading_size }}">{{ title | escape }}</p>
                {%- endif -%}

                {%- if text != blank -%}
                  <div class="rte background-media-text__subtext clearfix">{{ text }}</div>
                {%- endif -%}

                {%- if button_label != blank and button_link != blank -%}
                  {%- render 'element.button', href: button_link, text: button_label -%}
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>
  </background-image>

  <template data-island>
    <script type="module">
      import 'section.background-image-text'
    </script>
  </template>
</is-land>
