{%- comment -%}
  Renders a password header section.

  Accepts:
  - overlay_header {boolean} - Whether to add an overlay to the header
  - logo {image} - The logo object
  - desktop_logo_height {80-180} - The height of the desktop logo
  - mobile_logo_height {20-120} - The height of the mobile logo
  - hydration {string} - The hydration strategy for the section

  Usage:
  {% render 'section.password-header' %}
{%- endcomment -%}

{% stylesheet %}
	.password__toolbar,
	.password__header {
	  color: var(--color-primary);
	  background: var(--color-secondary);
	}
	
	.password__toolbar {
	  padding-block: var(--size-1-5);
	}
	
	.password__header {
	  padding-block: var(--size-3);
	
	  & h1 {
	    margin-bottom: 0;
	    line-height: 0;
	  }
	}
	
	#LoginModal .modal__inner {
	  padding: var(--size-12) var(--size-12) var(--size-2-5);
	}
	
	.element-icon-shopify-logo {
	  --element-icon-width: 60px;
	  --element-icon-height: 20px;
	}
{% endstylesheet %}

{%- liquid
  assign overlay_header = overlay_header | default: section.settings.overlay_header, allow_false: true | default: true, allow_false: true
  assign logo = logo | default: section.settings.logo
  assign desktop_logo_height = desktop_logo_height | default: section.settings.desktop_logo_height | default: 80
  assign mobile_logo_height = mobile_logo_height | default: section.settings.mobile_logo_height | default: 50
  assign toolbar_color_scheme = toolbar_color_scheme | default: section.settings.toolbar_color_scheme | default: '1'
  assign header_color_scheme = header_color_scheme | default: section.settings.header_color_scheme | default: '1'
  assign hydration = hydration | default: 'on:visible'
  assign toolbar_style = toolbar_style | default: ''
  assign header_style = header_style | default: ''

  if toolbar_color_scheme.settings.primary != blank
    assign toolbar_style = toolbar_style | append: '--color-primary:' | append: toolbar_color_scheme.settings.primary | append: ';'
  endif

  if toolbar_color_scheme.settings.secondary != blank
    assign toolbar_style = toolbar_style | append: '--color-secondary:' | append: toolbar_color_scheme.settings.secondary | append: ';'
  endif

  if header_color_scheme.settings.primary != blank
    assign header_style = header_style | append: '--color-primary:' | append: header_color_scheme.settings.primary | append: ';'
  endif

  if header_color_scheme.settings.secondary != blank
    assign header_style = header_style | append: '--color-secondary:' | append: header_color_scheme.settings.secondary | append: ';'
  endif
-%}

<is-land {{ hydration }}>
  <password-header>
    {%- unless shop.password_message == blank -%}
      <div class="password__toolbar text-center" style="{{ toolbar_style }}">
        <div class="page-width">
          {%- render 'element.text', text: shop.password_message, variant: 'body-sm' -%}
        </div>
      </div>
    {%- endunless -%}

    <header class="password__header" style="{{ header_style }}">
      <div class="page-width">
        {%- capture header_content -%}
        <h1 itemscope itemtype="http://schema.org/Organization" class="site-header__logo">
          {%- if logo != blank -%}
            {% # Desktop logo %}
            {%- assign width = desktop_logo_height | times: logo.aspect_ratio | times: 2 -%}
            {%- assign height = desktop_logo_height -%}
            {%- capture sizes -%}{{ desktop_logo_height | times: logo.aspect_ratio }}px{%- endcapture -%}
            {%- capture widths -%}{{ desktop_logo_height | times: logo.aspect_ratio }}, {{ desktop_logo_height | times: logo.aspect_ratio | times: 2 }}{%- endcapture -%}
            {%- capture style -%}max-width: {{ desktop_logo_height | times: logo.aspect_ratio }}px;max-height: {{ desktop_logo_height }}px;{%- endcapture -%}

            {% # Mobile logo %}
            {%- assign mobile_width = mobile_logo_height | times: logo.aspect_ratio | times: 2 -%}
            {%- assign mobile_height = mobile_logo_height -%}
            {%- capture mobile_sizes -%}{{ mobile_logo_height | times: logo.aspect_ratio }}px{%- endcapture -%}
            {%- capture mobile_widths -%}{{ mobile_logo_height | times: logo.aspect_ratio }}, {{ mobile_logo_height | times: logo.aspect_ratio | times: 2 }}{%- endcapture -%}
            {%- capture mobile_style -%}max-width: {{ mobile_logo_height | times: logo.aspect_ratio }}px;max-height: {{ mobile_logo_height }}px;{%- endcapture -%}

            {%-
              render 'element.image',
              img: logo,
              img_width: width,
              img_height: height,
              sizes: sizes,
              widths: widths,
              style: style,
              classes: 'small--hide',
              alt: logo.alt | default: shop.name,
              loading: 'eager',
              itemprop: 'logo',
            -%}

            {%-
              render 'element.image',
              img: logo,
              img_width: mobile_width,
              img_height: mobile_height,
              sizes: mobile_sizes,
              widths: mobile_widths,
              style: mobile_style,
              classes: 'medium-up--hide',
              loading: 'eager',
              alt: logo.alt | default: shop.name,
            -%}
          {%- else -%}
            {%- render 'element.text', text: shop.name, variant: 'heading-md' -%}
          {%- endif -%}
        </h1>

        <a href="#LoginModal" class="js-modal-open-login-modal password-login">
          {%- capture password_login_button -%}
            {% render 'element.icon', name: 'lock' %}
            {% render 'utility.translate', key: 'labels.password', fallback: 'Password' %}
          {%- endcapture -%}

          {%- render 'layout.stack', 
            slot: password_login_button, 
            horizontal: true, 
            align: 'center',
            gap: 'xs'
          -%}
        </a>
      {%- endcapture -%}

        {%- render 'layout.stack', slot: header_content, horizontal: true, align: 'center', justify: 'space-between' -%}
      </div>
    </header>
  </password-header>

  <template data-island>
    <script type="module">
      import 'section.password-header'
    </script>
  </template>
</is-land>
