{%- comment -%}
  Main product section

  Accepts:
  - slot {string} - Content for product info
  - product_media_gallery {string} - Content for the product media gallery
  - image_position {string} - Position of the image
  - mobile_layout {string} - Layout for mobile
  - image_container_width {string} - Width of the image container

  Usage:
  {% liquid
    capture blocks
      for block in section.blocks
        case block.type
          when 'description'
            render 'block.product-description', block: block
        endcase
      endfor
    endcapture

    render 'section.main-product', slot: blocks
  %}
{%- endcomment -%}

{%- liquid
  assign image_position = image_position | default: section.settings.image_position | default: 'left'
  assign mobile_layout = mobile_layout | default: section.settings.mobile_layout | default: 'partial'
  assign image_container_width = image_container_width | default: section.settings.image_container_size | default: 'medium'
  assign product_image_width = 'medium-up--one-half'
  assign product_description_width = 'medium-up--one-half'
  case image_container_width
    when 'small'
      assign product_image_width = 'medium-up--two-fifths'
      assign product_description_width = 'medium-up--three-fifths'
    when 'large'
      assign product_image_width = 'medium-up--three-fifths'
      assign product_description_width = 'medium-up--two-fifths'
  endcase
-%}

{% capture product_media_gallery_default %}
  {% if section.settings.media_gallery_layout == 'stacked' %}
    {% capture mobile_gallery %}
      {% render 'product.gallery', sizeVariable: product_image_width, media_gallery_layout: 'below' %}
    {% endcapture %}
    {% capture desktop_gallery %}
      {% render 'product.gallery', sizeVariable: product_image_width, media_gallery_layout: 'stacked' %}
    {% endcapture %}
    <div class="medium-up--hide">
      {{ mobile_gallery }}
    </div>
    <div class="small--hide">
      {{ desktop_gallery }}
    </div>
  {% else %}
    {% render 'product.gallery', sizeVariable: product_image_width %}
  {% endif %}
{% endcapture %}

{% capture product_content %}
  {% render 'element.breadcrumbs' %}
  {{- slot -}}
{% endcapture %}

<section
  class="page-content page-content--product page-content--{{ mobile_layout }}"
  data-section-id="{{ section.id }}"
  data-product-id="{{ product.id }}"
>
  <div class="page-width">
    <div class="product-grid__container product--images float-grid{% unless image_position == 'left' %} grid--product-images-right{% endunless %}{% if mobile_layout == 'partial' %} grid--product-images--partial{% endif %} clearfix">
      {%- if image_position == 'left' -%}
        <div class="grid__item {{ product_image_width }} product-single__sticky">
          {{- product_media_gallery | default: product_media_gallery_default -}}
        </div>
      {%- endif -%}
      <div class="product-grid__content product--description product-single__sticky grid__item {{ product_description_width }}">
        {% render 'layout.stack', slot: product_content, classlist: 'product-single__meta', gap: 'sm' %}
      </div>
      {%- unless image_position == 'left' -%}
        <div class="grid__item {{ product_image_width }} product-single__sticky">
          {{- product_media_gallery | default: product_media_gallery_default -}}
        </div>
      {%- endunless -%}
    </div>
  </div>
</section>

<script type="application/ld+json">
  {{ product | structured_data }}
</script>
