{%- comment -%}
  Renders a section with an article template.

  Accepts:
  - blog_capitalize_first {boolean} - Whether to capitalize the first letter of the article
  - blog_show_tags {boolean} - Whether to show tags
  - blog_show_date {boolean} - Whether to show the date
  - blog_show_comments {boolean} - Whether to show comments
  - blog_show_author {boolean} - Whether to show the author

  Usage:
  {% render 'section.article-template', blog_capitalize_first: false %}
{%- endcomment -%}

{% stylesheet %}
	.blog-layout {
	  display: flex;
	  flex-wrap: nowrap;
	  flex-direction: column;
	}
	
	.blog-layout__main {
	  margin-bottom: 20px;
	}
	
	.blog-layout__sidebar {
	  order: 1;
	}
	
	.blog-layout__main,
	.blog-layout__sidebar {
	  margin-top: 40px;
	}
	
	/* Any section that isn't the main layout or sidebar should be full width */
	.blog-layout > div:not(.blog-layout__main):not(.blog-layout__sidebar) {
	  flex: 1 0 100%;
	}
	
	@media only screen and (min-width: 769px) {
	  .blog-layout {
	    flex-direction: row;
	    flex-wrap: wrap;
	  }
	
	  .blog-layout__main {
	    flex: 1 1 calc(60% - 90px);
	  }
	
	  .blog-layout__sidebar {
	    order: 0;
	    flex: 0 0 calc(40% - 90px);
	    align-self: flex-start;
	
	    padding-left: 0;
	    margin-left: 0;
	    border-left: 0;
	    padding-right: 45px;
	    margin-right: 45px;
	    border-right: 1px solid;
	    border-right-color: var(--colorBorder);
	
	    [dir='rtl'] & {
	      padding-right: 0;
	      margin-right: 0;
	      border-right: 0;
	      padding-left: 45px;
	      margin-left: 45px;
	      border-left: 1px solid;
	      border-left-color: var(--colorBorder);
	    }
	  }
	
	  .blog-layout__main + .blog-layout__sidebar {
	    padding-right: 0;
	    margin-right: 0;
	    border-right: 0;
	    padding-left: 45px;
	    margin-left: 45px;
	    border-left: 1px solid;
	    border-left-color: var(--colorBorder);
	
	    [dir='rtl'] & {
	      padding-left: 0;
	      margin-left: 0;
	      border-left: 0;
	      padding-right: 45px;
	      margin-right: 45px;
	      border-right: 1px solid;
	      border-right-color: var(--colorBorder);
	    }
	  }
	}
	
	.article__comment {
	  margin-bottom: 20px;
	
	  &:last-child {
	    margin-bottom: 0;
	  }
	}
	
	.comment-author {
	  margin-bottom: 0;
	}
	
	.comment-date {
	  font-size: calc(var(--element-text-font-size--body-md) * 0.85);
	  display: block;
	  margin-top: 3px;
	
	  @media only screen and (max-width: 768px) {
	    margin-bottom: calc(var(--gutter) / 2);
	  }
	}
	
	.capitalize-first-letter {
	  display: block;
	
	  &::first-letter {
	    font-size: 55px;
	    margin-right: 6px;
	    margin-top: -20px;
	    font-weight: var(--element-text-font-weight--heading);
	  }
	}
{% endstylesheet %}

{%- liquid
  assign blog_capitalize_first = blog_capitalize_first | default: section.settings.blog_capitalize_first, allow_false: true | default: true, allow_false: true
  assign blog_show_tags = blog_show_tags | default: section.settings.blog_show_tags, allow_false: true | default: true, allow_false: true
  assign blog_show_date = blog_show_date | default: section.settings.blog_show_date, allow_false: true | default: true, allow_false: true
  assign blog_show_comments = blog_show_comments | default: section.settings.blog_show_comments, allow_false: true | default: true, allow_false: true
  assign blog_show_author = blog_show_author | default: section.settings.blog_show_author, allow_false: true | default: true, allow_false: true

  assign number_of_comments = article.comments_count

  if comment.status == 'pending'
    assign number_of_comments = article.comments_count | plus: 1
  endif

  capture input_name_label
    render 'utility.translate', key: 'labels.name', fallback: 'Name'
  endcapture

  capture input_email_label
    render 'utility.translate', key: 'labels.email', fallback: 'Email'
  endcapture

  capture input_comment_label
    render 'utility.translate', key: 'labels.message', fallback: 'Message'
  endcapture

  capture button_text
    render 'utility.translate', key: 'actions.post_comment', fallback: 'Post comment'
  endcapture

  assign fallback_actions_back_to = 'Back to ' | append: blog.title
  assign actions_back_to = 'actions.back_to' | t: collection: blog.title

  capture button_return_text
    render 'utility.translate', t: actions_back_to, fallback: fallback_actions_back_to
  endcapture
-%}

{%- capture breadcrumbs_and_tags -%}
  {%- render 'element.breadcrumbs' -%}

  {%- if blog_show_tags and article.tags.size > 0 -%}
    {%- capture tag_group -%}
      {%- for tag in article.tags -%}
        <li>
          {%- assign tag_link = blog.url | append: '/tagged/' | append: tag.handle -%}
          {%- render 'element.chip', label: tag, href: tag_link -%}
        </li>
      {%- endfor -%}
    {%- endcapture -%}

    {% render 'layout.stack', as: 'ul', classlist: 'tag-group no-bullets', slot: tag_group, horizontal: true, gap: 'sm' %}
  {%- endif -%}
{%- endcapture -%}

{% render 'layout.stack', slot: breadcrumbs_and_tags, gap: 'xs' %}

<header class="section-header">
  <h1 class="section-header__title">{{ article.title }}</h1>

  <div class="article__sub-meta">
    {%- if blog_show_comments and article.comments_count > 0 -%}
      <span>
        <a href="{{ article.url }}#comments" class="js-no-transition">
          {% assign info_comments_count = 'info.comments_count' | t: count: article.comments_count %}
          {%- capture fallback_info_comments_count -%}
            {{ article.comments_count }} comment{%- if article.comments_count != 1 -%}s{%- endif -%}
          {%- endcapture -%}
          {% render 'utility.translate', t: info_comments_count, fallback: fallback_info_comments_count %}
        </a>
      </span>
    {%- endif -%}

    {%- if blog_show_date -%}
      <span class="article__sub-meta-date">{{ article.published_at | date: format: 'abbreviated_date' }}</span>
    {%- endif -%}

    {%- if blog_show_author -%}
      <span>by {{ article.author }}</span>
    {%- endif -%}
  </div>
</header>

{%- liquid
  assign rte_class = blank
  if blog_capitalize_first
    assign rte_class = 'capitalize-first-letter'
  endif
  render 'element.text', text: article.content, variant: 'rte', classlist: rte_class
-%}

{%- if blog.comments_enabled? -%}
  {%- if number_of_comments > 0 -%}
    <hr class="hr--large">
    <h3>
      {% assign info_comments_count = 'info.comments_count' | t: count: number_of_comments %}
      {%- capture fallback_info_comments_count -%}
        {%- if number_of_comments != 0 -%}
          {{ number_of_comments }} comments
        {%- else -%}
          {{ number_of_comments }} comment
        {%- endif -%}
      {%- endcapture -%}
      {% render 'utility.translate', t: info_comments_count, fallback: fallback_info_comments_count %}
    </h3>
    <hr class="hr--small hr--clear">
  {%- endif -%}

  {%- paginate article.comments by 5 -%}
    <div id="comments">
      {%- if comment and comment.errors == blank -%}
        <hr class="hr--small hr--clear">
        <p class="note note--success">
          {%- if blog.moderated? -%}
            {% assign info_posted_successfully_moderated = 'info.posted_successfully_moderated' | t %}
            {% render 'utility.translate',
              t: info_posted_successfully_moderated,
              fallback: 'Your comment was posted successfully. We will publish it in a little while, as our blog is moderated.'
            %}
          {%- else -%}
            {% assign info_comment_posted_successfully = 'info.comment_posted_successfully' | t %}
            {% render 'utility.translate',
              t: info_comment_posted_successfully,
              fallback: 'Your comment was posted successfully! Thank you!'
            %}
          {%- endif -%}
        </p>
      {%- endif -%}

      {%- if number_of_comments > 0 -%}
        <ul class="no-bullets">
          {%- if comment.status == 'pending' -%}
            <li id="Comment-{{ comment.id }}" class="article__comment">
              {%- render 'comment', comment: comment -%}
            </li>
          {%- endif -%}

          {%- for comment in article.comments -%}
            <li id="Comment-{{ comment.id }}" class="article__comment">
              {%- render 'comment', comment: comment -%}
            </li>

            {%- unless forloop.last -%}
              <li><hr class="hr--clear"></li>
            {%- endunless -%}
          {%- endfor -%}
        </ul>

        {%- if paginate.pages > 1 -%}
          {%- render 'element.pagination', paginate: paginate, hash: '#comments' -%}
        {%- endif -%}
      {%- endif -%}

      <hr class="hr--large">

      <header class="section-header">
        <h3 class="section-header__title">
          {% render 'utility.translate', key: 'actions.leave_a_comment', fallback: 'Leave a comment' %}
        </h3>
      </header>

      <div class="form-vertical">
        {%- form 'new_comment', article -%}
          {%- capture input_name_attributes -%}
            required
            {% if form.errors contains 'author' -%}
              aria-invalid="true"
            {%- endif %}
            autocapitalize="words"
          {%- endcapture -%}

          {%- capture input_email_attributes -%}
            required
            {% if form.errors contains 'email' -%}
              aria-invalid="true"
            {%- endif %}
            autocorrect="off"
            autocapitalize="off"
          {%- endcapture -%}

          {%- capture input_comment_attributes -%}
            required
            {%- if form.errors contains 'body' -%}
              aria-invalid="true"
            {%- endif -%}
          {%- endcapture -%}

          {{ form.errors | default_errors }}

          <div class="float-grid grid--small clearfix">
            <div class="grid__item medium-up--one-half">
              {%- render 'element.input',
                id: 'CommentForm-author',
                type: 'text',
                name: 'comment[author]',
                value: form.author,
                label: input_name_label,
                placeholder: input_name_label,
                attributes: input_name_attributes
              -%}
            </div>
            <div class="grid__item medium-up--one-half">
              {%- render 'element.input',
                id: 'CommentForm-email',
                type: 'email',
                name: 'comment[email]',
                value: form.email,
                label: input_email_label,
                placeholder: input_email_label,
                attributes: input_email_attributes
              -%}
            </div>
          </div>
          {%- render 'element.input',
            id: 'CommentForm-body',
            multiline: 2,
            name: 'comment[body]',
            value: form.body,
            label: input_comment_label,
            placeholder: input_comment_label,
            attributes: input_comment_attributes
          -%}

          {%- if blog.moderated? -%}
            <p>
              <small>
                {% assign info_comments_must_be_approved = 'info.comments_must_be_approved' | t %}
                {%- render 'utility.translate',
                  t: info_comments_must_be_approved,
                  fallback: 'Comments must be approved'
                -%}
              </small>
            </p>
          {%- endif -%}

          {%- render 'element.button', text: button_text, type: 'submit' -%}

          {% comment %}
            Remove the following three lines of code to remove the note
            about being protected by Google's reCAPTCHA service.
            By removing it, the small reCAPTCHA widget will appear in the
            bottom right corner of the page.
          {% endcomment %}
          {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
        {%- endform -%}
      </div>
    </div>
  {%- endpaginate -%}
{%- endif -%}

<hr class="hr--large">

{%- if blog_show_tags and article.tags.size > 0 -%}
  {%- capture more_from_tags -%}
    {%- capture more_from_label -%}
      {% render 'utility.translate', key: 'labels.more_from', fallback: 'More from' %}
      >
    {%- endcapture -%}
    {%- render 'element.text', text: more_from_label, variant: 'heading-xs' -%}

    {%- capture tag_group -%}
      {%- for tag in article.tags -%}
        {%- assign tag_link = blog.url | append: '/tagged/' | append: tag.handle -%}
        {%- render 'element.chip', label: tag, href: tag_link -%}
      {%- endfor -%}
    {%- endcapture -%}

    {%- render 'layout.stack', as: 'ul', classlist: 'tag-group no-bullets', slot: tag_group, horizontal: true gap: 'sm' -%}
  {%- endcapture -%}

  {%- render 'layout.stack',
    slot: more_from_tags,
    align: 'center',
    horizontal: true,
    style: 'margin: 0 0 var(--size-10);'
  -%}
{%- endif -%}

<div class="text-center">
  {%- render 'element.button',
    href: blog.url,
    text: button_return_text,
    classlist: 'return-link',
    icon: 'arrow-left',
    icon_position: 'start'
  -%}
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ shop.url | append: article.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width %}
      "image": [
        {{ article | image_url: width: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateModified": {{ article.updated_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if page_image %}
        {% assign image_size = page_image.width %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ page_image.height | json }},
          "url": {{ page_image | image_url: width: image_size | prepend: "https:" | json }},
          "width": {{ page_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
</script>
